version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: locallend-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: .
      dockerfile: dockerfile
    container_name: locallend-backend
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/locallend
      SPRING_PROFILES_ACTIVE: prod

volumes:
  mongo_data:
